<footer class="footer">
  <div class="footer-content">

    <!-- Developer Info -->
    <div class="developer">
      <span class="logo-text">AD</span>
      <span>ArainDeveloper - Muhammad Asadullah</span>
    </div>

    <!-- Social Links -->
    <div class="social-links">
      <a href="https://www.tiktok.com/@asadullahshafiqas?_r=1&_t=ZS-93RkyOxc3ZE" target="_blank">
        <i class="fab fa-tiktok"></i>
      </a>
      <a href="https://www.instagram.com/asad4.465?igsh=MW4ya20xeTJneHR0bQ==" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/share/1ZCuZi64u6/" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>

  </div>
</footer>