/* .navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:linear-gradient(90deg,#020617,#1e293b);

color:white;

box-shadow:0 4px 10px rgba(0,0,0,0.5);

}

.logo{

font-size:22px;
color:gold;
font-weight:bold;

}

ul{

display:flex;
gap:25px;
list-style:none;

}

a{

text-decoration:none;
color:white;
font-weight:500;

transition:0.3s;

}

a:hover{

color:gold;
transform:scale(1.1);

} */